*{
  margin: 0px;
  padding: 0px;
  /* background-image: url("../Images/Home.png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
body{
  /* background-image: url("../Images/Home.png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: auto;
  width: auto;
}