.pickn{
    color: white;
    font-weight: 800;
    font-size: 140px;
}

.drop{
    color: white;
    font-weight: 800;
    font-size: 140px;
}

.row{
    height: 75vh;
    
}

.btn{
    width: 100px;
    border-radius: 30px;
    border-width: 2px; 
}

.Link{
    text-decoration: none;
}